@import "./general/variables";
@import "./general/breakpoints";
@import "./general/mixins";
@import "./components/wip";

body {
  background-color: #121212;
  color: whitesmoke;
  text-align: center;
}
