.cloud {
  z-index: -1;
  opacity: 0;
  @include xxs {
    width: 70%;
  }
  @include sm {
    width: 55%;
  }
  @include md {
    width: 50%;
  }
  @include lg {
    width: 40%;
  }
  &.cloud1 {
    position: absolute;
    top: 0;
    left: 0;
    &.show {
      @include show-cloud1;
    }
  }
  &.cloud2 {
    position: relative;
    top: -40%;
    @include sm {
      top: -50%;
    }
    @include lg {
      top: -60%;
    }
    @include xl {
      top: -70%;
    }
    float: right;
    &.show {
      @include show-cloud2;
    }
  }
}
