.contact {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "RobotoCondensed Regular";
    li {
      list-style: none;
      margin: 0 5px;
      a {
        .fa {
          font-size: 55px;
          margin-top: 10px;
          color: #262626;
          padding-right: 14px;
          transition: 0.5s;
        }
        span {
          padding: 0;
          margin: 0;
          position: absolute;
          top: 30px;
          color: #262626;
          letter-spacing: 4px;
          transition: 0.5s;
        }
        text-decoration: none;
        display: block;
        width: 210px;
        height: 80px;
        background: #fff;
        text-align: left;
        padding-left: 20px;
        transform: rotate(-30deg) skew(25deg) translate(0, 0);
        box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        &:before {
          content: "";
          position: absolute;
          top: 10px;
          left: -20px;
          height: 100%;
          width: 20px;
          background: #b1b1b1;
          transform: 0.5s;
          transform: rotate(0deg) skewY(-45deg);
        }
        &:after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: -10px;
          height: 20px;
          width: 100%;
          background: #b1b1b1;
          transform: 0.5s;
          transform: rotate(0deg) skewX(-45deg);
        }
        &:hover {
          transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
          box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
        }
      }
      &:hover {
        .fa {
          color: #fff;
        }
        span {
          color: #fff;
        }
        &:nth-child(1) {
          a {
            background: #0077b5;
            &:before {
              background: #015a8a;
            }
            &:after {
              background: #008bd6;
            }
          }
        }
        &:nth-child(2) {
          a {
            background: #3b5998;
            &:before {
              background: #365492;
            }
            &:after {
              background: #4a69ad;
            }
          }
        }
        &:nth-child(3) {
          a {
            background: #24292e;
            &:before {
              background: #1e2225;
            }
            &:after {
              background: #2b3136;
            }
          }
        }
        &:nth-child(4) {
          a {
            background: #e4405f;
            &:before {
              background: #d81c3f;
            }
            &:after {
              background: #e46880;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $breakpoint) {
    margin-top: 50vh;
    margin-bottom: 10vh;
    ul {
      display: block;
      li {
        padding-bottom: 48px;
      }
    }
  }
}
